.socialLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* always 2 per row */
  gap: 1rem 2rem; /* row gap | column gap */
  justify-items: left;
  margin-bottom: 2rem;
  /* outline: auto; */

}

/* link + label */
.socialLinks a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);                   /* default: white */
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 1;
  transition: color .2s ease;
  margin-bottom: 1rem;
}

.socialLinks a svg {
  fill: currentColor;             /* icons follow text color */
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  transition: fill .2s ease;
}

/* hover => accent for both icon + text */
.socialLinks a:hover {
  color: var(--color-accent);
}

@media (max-width: 1024px) {
  .socialLinks {
    justify-items: center;
  }
}
