.default {
  border: none;
  height: 1px;
  background: var(--color-border);
  opacity: 0.6;
}

.light {
  border: none;
  height: 0.5px;
  background: var(--color-accent);
  opacity: 0.9;
}

.strong {
  border: none;
  height: 2px;
  background: var(--color-accent);
  opacity: 0.9;
}

.gradient {
  border: none;
  height: 1px;
  /* margin: 1.5rem 0; */
  background: linear-gradient(to right, transparent, var(--color-accent), transparent);
}

.gradient-start {
  border: none;
  height: 1px;
  background: linear-gradient( to right, var(--color-accent) 0%, transparent 100% );
}
